html {
  font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-rows: 150px auto auto;
  padding: 0 360px;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  margin: 25px auto;
  align-self: center;
}

h2 {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
}

p {
  grid-area: abstract;
  align-self: center;
}

img {
  grid-area: image;
}

a {
  color: black;
  text-decoration: none;
  grid-area: headline;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
  font-size: 1em;
}

#toggle-filters {
  font-size: 14px;
  justify-self: center;
}

#submit {
  padding: 4px 6px;
  width: 135px;
  height: 35px;
  background: rgb(255, 235, 58);
  border: 1px solid rgb(255, 230, 0);
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

nav button {
  height: 50px;
  width: 50px;
  background: rgb(255, 235, 58);
  border: 1px solid rgb(255, 230, 0);
}

form, input {
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
}

form {
  display: grid;
  grid-template-rows: 70px auto;
  row-gap: 10px;
  width: 900px;
  justify-self: center;
  align-self: center;
  padding: 10px 15px;
}

#filters {
  display: none;
}

.search-controls-main {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  height: 50px;
}

.controls {
  border: 1px solid black;
}

.search-results {
  padding: 0 200px;
}

.article {
  display: grid;
  grid-template:  "headline headline"
                  "image ."
                  "abstract abstract"
                  "keywords keywords";
  row-gap: 15px;
  background-color: #00000009;
  margin-bottom: 25px;
  padding: 25px;
}

.keywords {
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
  grid-area: keywords;
}

.keyword {
  margin: 0 10px 4px 0;
  border: 1px solid #00000010;
  border-radius: 2px;
  padding: 3px;
  background: #00000005;
}

.date {
  font-family: inherit;
  font-size: 1em;
  height: 40px;
  width: 160px;
  padding: 10px;
}

.date:hover {
  cursor: pointer;
}

.meta-info {
  justify-self: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#search-term {
  font-family: inherit;
  font-size: 1em;
  height: 40px;
  width: 250px;
  padding: 10px;
}

#toggle-filters {
  align-self: center;
  border: none;
  background: none;
  height: 30px;
  width: 95px;
}