/* General */

html {
  font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  margin: 25px auto;
  align-self: center;
  text-align: center;
}

h2 {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
}

main {
  display: grid;
  grid-template-rows: 150px auto auto;
  padding: 0 360px;
}

/* Buttons */

button {
  font: inherit;
  background: #ffc400b4;
  border: 1px solid #ffc400;
  border-radius: 5px;
  padding: 8px 13px;
}

button:hover {
  cursor: pointer;
  background: #ffc400;
}

.disabled:hover {
  cursor: default;
  background: #ffc400b4;
}

/* Search form */

form {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 70px auto;
  row-gap: 10px;
  justify-self: center;
  width: 900px;
  padding: 10px 15px;
}

input {
  font: inherit;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  height: 40px;
}

input[type="date"] {
  width: 160px;
}

input[type="checkbox"] {
  width: 40px;
  height: 24px;
}

fieldset {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 10px;
}

.fieldset-option-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#search-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

#filters-button {
  border: none;
  background: none;
  font-size: 14px;
  justify-self: center;
  padding: 14px;
}

#filters-container {
  display: none;
  grid-template: "newsDesk material location";
  align-items: flex-start;
  row-gap: 15px;
  column-gap: 15px;
  margin-top: 20px;
}

#newsdesk-fieldset {
  grid-area: newsDesk;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr 1fr;
  width: 380px;
}

#material-types-fieldset {
  grid-area: material;
  width: 140px;
  row-gap: 10px;
}

#location-search {
  height: 40px;
  width: 250px;
  display: block;
}

/* Meta info (total hits) */

#total-hits-container {
  justify-self: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Sort controls */

select {
  font: inherit;
  color: #0061bb;
  padding: 2px;
  background: none;
  border: none;
  margin-left: 10px;
}

select:hover {
  cursor: pointer;
  text-decoration: underline;
}

#sort-by-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 200px;
  margin: 25px 0;
}

/* Search results */

.article-container {
  display: grid;
  grid-template:  "headline headline"
                  "image ."
                  "abstract abstract"
                  "keywords keywords";
  row-gap: 15px;
  background-color: #00000009;
  margin-bottom: 25px;
  padding: 25px;
}

.headline-link {
  color: black;
  text-decoration: none;
  grid-area: headline;
}

.headline-link:hover {
  text-decoration: underline;
}

.article-img {
  grid-area: image;
}

.article-abstract {
  grid-area: abstract;
}

.keywords {
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
  grid-area: keywords;
}

.keyword {
  margin: 0 10px 4px 0;
  border: 1px solid #00000010;
  border-radius: 2px;
  padding: 3px;
  background: #00000005;
}

#search-results-container {
  display: none;
}

#articles-container {
  padding: 0 200px;
}

/* Pagination controls */

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 0 200px;
}
