html {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  padding: 0 360px;
}

h1 {
  margin: 25px auto;
}

button {
  padding: 4px 6px;
  width: 200px;
  justify-self: center;
}

button:hover {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
}

form {
  /* border: 1px solid black; */
  border-radius: 5px;
  display: grid;
  row-gap: 25px;
  grid-template-rows: 2fr 1fr;
  width: 900px;
  margin: 0 auto;
}

.search-controls-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}

.controls {
  border: 1px solid black;
}

.search-results {
  padding: 0 200px;
}

.article {
  background-color: #bdffe9;
  margin-top: 25px;
  padding: 25px;
}

.keywords {
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
}

.keyword {
  margin: 0 10px 4px 0;
  border: 1px solid #00000018;
  border-radius: 2px;
  padding: 3px;
  background: #00000018;
}

#search-term {
  height: 40px;
  width: 300px;
}

#begin-date {
  height: 40px;
  width: 150px;
}

#end-date {
  height: 40px;
  width: 150px;
}