html {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template:  "a a" auto
                  "b c" 225px
                  "d c" auto;
  padding: 0 100px;
}

h1 {
  margin: 25px auto;
  grid-area: a;
}

button {
  padding: 4px 6px;
}

button:hover {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
}

.search-element {
  margin-bottom: 25px;
}

.controls {
  grid-area: b;
}

.search-results {
  grid-area: c;
  padding: 0 200px;
}

.article {
  background-color: #bdffe9;
  margin-top: 25px;
  padding: 25px;
}

.keywords {
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
}

.keyword {
  margin: 0 10px 4px 0;
  border: 1px solid #00000018;
  border-radius: 2px;
  padding: 3px;
  background: #00000018;
}