/* General */

html {
  font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-rows: 150px auto auto;
  padding: 0 360px;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  margin: 25px auto;
  align-self: center;
  text-align: center;
}


/* Navigation and Form Controls */

nav {
  display: none;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 0 200px;
}

form, input {
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
}

form {
  display: grid;
  grid-template-rows: 70px auto;
  row-gap: 10px;
  width: 900px;
  justify-self: center;
  align-self: center;
  padding: 10px 15px;
}

button {
  font-family: inherit;
  font-size: 1em;
  background: rgba(255, 196, 0, 0.705);
  border: 1px solid rgb(255, 196, 0);
  border-radius: 5px;
  padding: 0.6em 1em;
}

button:hover {
  cursor: pointer;
  background: rgb(255, 196, 0);
}

button.disabled:hover {
  cursor: default;
  background: rgba(255, 196, 0, 0.705);
}

.date {
  font-family: inherit;
  font-size: 1em;
  height: 40px;
  width: 160px;
  padding: 10px;
}

.date:hover {
  cursor: pointer;
}

#search-term {
  font-family: inherit;
  font-size: 1em;
  height: 40px;
  width: 250px;
  padding: 10px;
}

#filters {
  display: none;
}

fieldset {
  border: none;
}

#toggle-filters {
  align-self: center;
  border: none;
  background: none;
  font-size: 14px;
  justify-self: center;
  padding: 1em;
}
.search-controls-main {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  height: 50px;
}

.controls {
  border: 1px solid black;
}


/* Search results and articles */

h2 {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
}

p {
  grid-area: abstract;
  align-self: center;
}

img {
  grid-area: image;
}

a {
  color: black;
  text-decoration: none;
  grid-area: headline;
}

a:hover {
  text-decoration: underline;
}

.search-results {
  padding: 0 200px;
}

.article {
  display: grid;
  grid-template:  "headline headline"
                  "image ."
                  "abstract abstract"
                  "keywords keywords";
  row-gap: 15px;
  background-color: #00000009;
  margin-bottom: 25px;
  padding: 25px;
}

.keywords {
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
  grid-area: keywords;
}

.keyword {
  margin: 0 10px 4px 0;
  border: 1px solid #00000010;
  border-radius: 2px;
  padding: 3px;
  background: #00000005;
}

.meta-info {
  justify-self: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
